<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Monster Time!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
</html>
<div class="alert alert-success text-center position-relative shadow-lg" role="alert">
  <h4 class="alert-heading">Welcome to Monster Search!</h4>
  <p>You are outside the Cave of Monsters.</p>
  <hr>
  <p class="mb-0">At any time you can <a href='/reset/'>reset</a> your game.</p>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">
    </div>
    <div class="col">
      <div class="card text-center" style="width: 18rem;">
        <img src="/static/stickman_drinking.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-center">Drink that Monster!</h5>
                <p class="card-text text-center">It certainly is delicious, and now you have so much energy!</p>
            </div>
      </div>
        <br><br>
    </div>
    <div class="col">
    </div>
  </div>
</div>
<div class="alert alert-primary text-center" role="alert">
    You can hang out and do nothing here or <a href='/goto/lair/'>go to</a> the lair and face what awaits!
</div>


