<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Monster Time!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
</html>
<style type="text/css">
   body { background: rgba(93, 174, 93, 0.27) !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
<div class="container">
  <div class="row">
    <div class="col-sm">
        <div class="alert alert-warning text-center position-relative shadow-sm" role="alert">
            <h4 class="alert-heading">Drink that Monster!</h4>
            <p>It certainly is delicious, and now you have so much energy!</p>
            <hr>
            <p class="mb-0">At any time you can <a href='/reset/'>reset</a> your game.</p>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <img class="rounded" src="/static/drink_monster.jpg" height="450"/><br><br>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
<p class="text-center">You can hang out and do nothing here or <a href='/goto/lair/'>go to</a> the lair and face
          what awaits!</p>


