<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Forest</title>
</head>
<body>
<h1>You are in the forest now. You found a Monster!</h1>
<p>At any time you can <a href='/reset/'>reset</a> your game.</p>
<img src="/static/Forest.jpg" width="400" height="200"/><br>
<a>What would you like to do with it?</a>
<!-- Form allows you to have more text entry -->
<form action="/save/result/">
    Mood: <select name="monster_decision">
        <option>Drink it</option>
        <option>Run away</option>
        <option>Find a Kyle to drink it for you</option>
    </select><br>
    <input type="submit" value="Submit"><br>
</form>
</body>
</html>