<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lair</title>
</head>
<h1>You are in the lair now...</h1>
<p>At any time you can <a href='/reset/'>reset</a> your game.</p>
<a>Uh oh! Look at that thing!</a><br>
    <img src="/static/lair monster.jpg" width="400" height="200"/><br>
<a>What will you do?</a>
<form action="/save/encounter/">
    <select name="monster_fight_decision">
        <option>Stay and fight!</option>
        <option>Leave</option>
    </select><br>
    <input type="submit" value="Submit"><br>
</html>