<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Uh oh</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
</html>
<style type="text/css">
   body { background: rgba(0, 0, 0, 0.99) !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
<body>
<div style="background:transparent !important" class="jumbotron text-center">
    <br>
  <h1 class="display-4 text-center text-white">No monster for you?</h1>
  <hr class="my-4">
  <p class="text-white">You're lost in the forest now. Time to <a href='/reset/'>return</a> to the beginning</p>
  </p>
</div>
<img src="/static/deep_forest.jpg" class="rounded" style="display: block; margin-left: auto; margin-right: auto" height="400"/><br>


