<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Welcome!</title>
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
    </head>
</html>
<div class="alert alert-success text-center position-relative" role="alert">
  <h4 class="alert-heading">Welcome to Monster Search!</h4>
  <p>You are outside the Cave of Monsters.</p>
  <hr>
  <p class="mb-0">At any time you can <a href='/reset/'>reset</a> your game.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card rounded float-left" style="width: 25rem;">
        <img src="static/forest_enter.jpg" height="250" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">The forest is this way!</p>
            <a href="goto/forest" class="btn btn-primary stretched-link">Click to go</a>
        </div>
      </div>
    </div>
    <div class="col-sm text-center align-middle">
        <h3><br><br><br><br>
            Which Way?<br>
            <small class="text-muted">Your fate lies ahead</small>
        </h3>
    </div>
    <div class="col-sm">
      <div class="card rounded float-right" style="width: 25rem;">
        <img src="static/cave.jpg" height="250" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">The cave is this way!</p>
            <a href="goto/lair" class="btn btn-primary stretched-link">Click to go</a>
        </div>
      </div>
    </div>
  </div>
</div>