<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Welcome to Monster Search!</h4>
  <p>You are outside the Cave of Monsters.</p>
  <hr>
  <p class="mb-0">At any time you can <a href='/reset/'>reset</a> your game.</p>
</div>
<img src="/static/cave.jpg" width="400" height="200" /><br>
<a href="goto/lair">Explore the Cave</a><br>
<a href="goto/forest">Go to the Forest</a>
</html>